name: Build NG-GL4ES Android

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Android NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r26d

    - name: Install CMake
      run: sudo apt-get install cmake ninja-build -y

    - name: Build arm64
      run: |
        mkdir build-arm64
        cd build-arm64
        cmake .. \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=arm64-v8a \
          -DANDROID_PLATFORM=android-24 \
          -DANDROID_STL=c++_shared
        make -j$(nproc)

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: libGL-arm64
        path: build-arm64/libGL.so
